body {
  overflow-y: scroll;
}

.App {
  text-align: center;
}

.navbar {
  position: sticky;
  font-size: 1.4em;
  background-color: white;
  top: 0;
  padding: 0.2em 1em;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlink {
  display: flex;
  color: rgb(222, 86, 197);
  font-size: 2em;
  text-align: center;
  margin: 40px 0;
}

.App-header {
  display: flex;
  justify-content: space-evenly;
  padding: 3em;
}

.asc-desc-button {
  padding: .2em;
  border: solid rgb(222, 86, 197) 0.2em;
  border-radius: 0.5em;
  font-size: 1em;
  font-weight: bolder;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  width: 10em;
  text-align: center;
}

.asc-desc-button:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.7);
}

.container {
  display: grid;
  grid-template-columns: 28% 28% 28%;
  justify-content: space-around;
  /* padding: 2em 2em; */
}

.Article-card {
  display: grid;
  background-color: buttonface;
  list-style: none;
  font-size: 1em;
  margin-top: 2em;
  margin-bottom: 3em;
  padding: 1em;
  border: rgb(222, 86, 197) 3px solid;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
  min-width: 33%;
}

.Article-card:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 1.7);
}

.selected-card {
  display: grid;
  background-color: buttonface;
  border: solid grey 1px;
  list-style: none;
  width: 50%;
  font-size: 1em;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 3em;
  padding: 1em;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
}

.text-body {
  border: solid rgb(191, 189, 189) 2px;
  border-radius: 0.4em;
  padding: 1.5em;
}

select {
  padding: 1em 2.5em;
  border: solid rgb(222, 86, 197) 0.2em;
  border-radius: 0.5em;
  font-size: 1em;
  font-weight: bolder;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  width: 15em;
  text-align: center;
}

.select:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.7);
}

.dropdown-item {
  text-align: left;
}

.vote-button {
  background-color: rgb(222, 86, 197);
  border: none;
  padding: 1em;
  color: white;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.3em;
}

.vote-button:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.7);
}

.link {
  text-decoration: unset;
  color: black;
}

.comments-header {
  margin-top: 6em;
}

.comments {
  padding: 1em;
  padding-top: 0em;
}

.back-to-top {
  background-color: rgb(222, 86, 197);
  color: white;
  border: solid 3px buttonface;
  text-decoration: none;
  padding: 0.6em;
  font-size: 1.3em;
  position: fixed;
  bottom: 20px;
  right: 50px;
  height: 20px;
  border-radius: 0.3em;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
}

.back-to-top:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.9);
}

.comment-form-div {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 1em;
  margin-top: 5em;
  border-radius: 0.3em;
}

.comment-form-div:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.7);
}

.comment-form label {
  display: block;
  text-align: center;
  padding: 0.2em;
}

.comment-form textarea {
  display: block;
  width: 70%;
  height: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 1em auto;
  font-size: 1em;
  text-align: left;
}

.comment-form button {
  flex-direction: column;
  background-color: rgb(222, 86, 197);
  border: none;
  padding: 1em;
  color: white;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.3em;
}

.comment-form button:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.7);
}

.comment-box {
  list-style: none;
  border: solid rgb(191, 189, 189) 2px;
  border-radius: 0.3em;
  padding: 1.5em;
  margin: 1em;
}

.comment-vote-button {
  background-color: rgb(222, 86, 197);
  border: none;
  padding: 0.6em;
  color: white;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
}

.comment-vote-button:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.8);
}

.delete-button {
  margin: 1em;
  margin-top: 5em;
}

@media (max-width: 500px) {
  .container {
    display: block;
    margin: 2em;
  }

  select {
  margin: .3em;
  width: 12em;
  }

  .selected-card {
    display: block;
    margin: 0 auto;
    width: 75%
  }

}

/* .selected-card {
  display: grid;
  background-color: buttonface;
  border: solid grey 1px;
  list-style: none;
  width: 50%;
  font-size: 1em;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 3em;
  padding: 1em;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.5em; */